.container {
  flex: 2;
}

.subTitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
}
.title {
  font-size: 28px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
